#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
}

dl > div {
  display: flex;
  flex-flow: row nowrap; 
  height: 1.5rem;
}

dt {
  width: 7rem;
  font-weight: bold;
}

dl, dt, dd {
  margin: 0;
}

dd > span {
  color: #666666;
  font-size: 0.8rem;
}